@font-face {
  font-family: "Golos Regular";
  src: url("@/assets/fonts/golos-text_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pragmatica Bold";
  src: url("@/assets/fonts/Pragmatica-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pragmatica Book";
  src: url("@/assets/fonts/Pragmatica-Book.woff") format("woff");
}
@font-face {
  font-family: "Pragmatica ExtraBoldOblique";
  src: url("@/assets/fonts/Pragmatica-ExtraBoldOblique.woff") format("woff");
}
@font-face {
  font-family: "Pragmatica Medium";
  src: url("@/assets/fonts/Pragmatica-Medium.woff") format("woff");
}
$Light-Black: #1e1e1e;
$Dark-Black: #000000;
$Light-Orange: #ff6915;
$Dark-Orange: #fb5a00;
$Blue: #3f71bc;
@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: fit-content;
  border: none;
  padding: 0rem;
  cursor: pointer;
}
@mixin input {
  background: none;
  border: none;
}
@mixin ul {
  list-style-type: none;
  padding: 0rem;

  li {
    a {
      text-decoration: none;
      color: $Dark-Black;
    }
  }
}
@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
